@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply font-sans bg-n-8 text-n-1 text-base;
    }
}

.rotate-45 {
    @apply rotate-[45deg];
}

.rotate-90 {
    @apply rotate-[90deg];
}

.rotate-135 {
    @apply rotate-[135deg];
}

.rotate-180 {
    @apply rotate-[180deg];
}

.rotate-225 {
    @apply rotate-[225deg];
}

.rotate-270 {
    @apply rotate-[270deg];
}

.rotate-315 {
    @apply rotate-[315deg];
}

.rotate-360 {
    @apply rotate-[360deg];
}

.-rotate-45 {
    @apply rotate-[-45deg];
}

.-rotate-90 {
    @apply rotate-[-90deg];
}

.-rotate-135 {
    @apply rotate-[-135deg];
}

.-rotate-180 {
    @apply rotate-[-180deg];
}

.-rotate-225 {
    @apply rotate-[-225deg];
}

.-rotate-270 {
    @apply rotate-[-270deg];
}

.-rotate-315 {
    @apply rotate-[-315deg];
}

.-rotate-360 {
    @apply rotate-[-360deg];
}

.title-card {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.title-card:hover {
    background-color: #e0e0e0;
}

.heading {
    transition: transform 0.3s ease, margin 0.3s ease;
}

.active {
    transform: scale(1.2);
    margin: 0 auto; /* Center the active heading */
}

.flex.justify-between .heading:not(.active) {
    transform: scale(0.8);
    opacity: 0.5;
}

.subtitle {
    font-size: 25px; /* Adjust the font size as needed */
    margin-top: 8px; /* Spacing from the title */
}

